<!doctype html>
<html>
  <head>
    <a href="/">Home</a>
    <a href="about">About </a>
    <a href="search">Search Books</a>
    <a href="addbook">Add A Book</a>
    <a href="list">List Books</a>
    <a href="bargainbooks">Bargain Books</a>
    <a href="listusers">List All Users</a>
    <a href="register">Register</a>
    <a href="login">Login Page</a>
    <a href="deleteuser">Delete a User</a>
    <a href="logout">Log Out</a>
    <title>Bargain Books for <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />

    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1><%=shopName%> Shop</h1>
    <h2>Here are our bargain books:</h2>
    <ul>
      <% availableBooks.forEach(function(book) { %>
        <li><%= book.name %>, £<%=book.price%> </li>
      <% }) %>
    </ul>
    </body>
</html>
